﻿@using MedicalConsultation.ControlPanel.ViewModels.Shared
@model TableRawViewModel<MedicalConsultation.Services.Core.Patient.AccountDto>

<tr data-record-id="@Model.RowData.UserID">
    <td class="account-full-name">@Model.RowData.FirstName @Model.RowData.LastName</td>
    <td>@Model.RowData.Role</td>
    <td>@Model.RowData.Username</td>
    <td>@Model.RowData.Email</td>
    <td>@Model.RowData.PhoneNumber</td>
    @if (Model.HasPremmissions)
    {
        <td class="d-flex justify-content-center align-items-center">
            @if (Model.HasPremmissionToDelete)
            {
                <a class="btn btn-sm btn-danger text-white remove-record mr-2">
                    <i class="fas fa-trash"></i>
                </a>
            }
            @if (!Model.HasPremmissionToEdit)
            {
                <a class="btn btn-sm btn-info text-white edit-record mr-2">
                    <i class="fas fa-edit"></i>
                </a>
            }
        </td>
    }
</tr>