﻿@model HeaderComponentViewModel
@using System.Security.Claims
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-user text-lg"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a asp-action="AccountInformation" asp-controller="Home" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" class="dropdown-item">
                    @FromResx["MY ACCOUNT"]
                </a>
                <div class="dropdown-divider"></div>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="dropdown-item text-danger text-primary">
                        <span class="text-sm-center">@FromResx["Logout"]</span>
                    </button>
                </form>
            </div>
        </li>
    </ul>
</nav>
