﻿@model ModalViewModel

<div class="modal fade" id="@($"{Model.IdPrefix}actionModal")">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0" id="@($"{Model.IdPrefix}actionModalBody")">

            </div>
            <div class="modal-footer p-0" style="background:rgba(0, 0, 0, 0.00)">
                <button type="button"
                        id="@($"{Model.IdPrefix}closeModalButton")"
                        class="btn btn-sm btn-outline-danger btn-block waves-effect action-button">
                    <i class="fas fa-close pr-1"></i>
                    <span class="action-button-text pr-0"> @FromResx["Finish"]</span>
                    <i class="fas fa-cog fa-spin action-button-loader" style="display:none;"></i>
                </button>
            </div>
        </div>
    </div>
</div>
