﻿
    <footer class="main-footer small">

        <!-- Default to the left -->
        @FromResx["Developed by"] <a href="mailto:wael_134002@svuonline.org">@FromResx["Wael Alshabani"]</a> and  <a href="mailto:mhd_ali_133905@svuonline.org">@FromResx["Mhd Ali Faour"]</a> as AWP homework, Master of Web science program @@ Syrian Virtual Universty
    </footer>