﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link href="~/lib/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/theme/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background: linear-gradient(#604cc4, #0d033f) !important;
        }

        .form-control.is-invalid {
            background-image: none !important;
        }

        .was-validated .custom-select:valid {
            background-image: none !important;
        }


        .was-validated .custom-select:invalid {
            background-image: none !important;
        }

        .valid-feedback.feedback-icon,
        .invalid-feedback.feedback-icon {
            display:none;
        }
    </style>
    @RenderSection("Styles", required: false)
</head>
<body class="hold-transition login-page">
    @RenderBody()

    <footer>
        <div class="text-center text-white text-sm-center">
            @FromResx["Developed by"] <a class="text-white" href="mailto:wael_134002@svuonline.org">@FromResx["Wael Alshabani"]</a> and <a class="text-white" href="#">@FromResx["Mhd Ali Faour"]</a> as AWP homework <br />
            Master of Web science program <br /> 
            @@ <a href="https://www.svuonline.org/">Syrian Virtual Universty</a>
        </div>
    </footer>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/theme/adminlte.min.js"></script>

    <script src="~/lib/underscore.js/underscore-min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/izitoast/js/iziToast.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script type="module" src="~/lib/backhelpers/bundle.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>
