﻿@model BaseViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @Model.PageTitle | @Model.ApplicationName </title>
    <partial name="@PartialPathProvider.ThemeStylePartial" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/flag-icon-css/css/flag-icon.css" rel="stylesheet" />
    <link href="~/lib/izitoast/css/iziToast.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/select2-bootstrap-theme/select2-bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)

</head>
<body class="hold-transition sidebar-mini" data-page-language="@Model.PageLanguage" data-app-default-language="@Model.DefaultLanguage">
    <div class="wrapper">
        <vc:sidebar></vc:sidebar>
        <vc:header></vc:header>
        <main role="main" class="content-wrapper">
            @RenderBody()
        </main>

        <partial name="@PartialPathProvider.FooterPartial" />
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <partial name="@PartialPathProvider.ThemeScriptPartial" />
    <script src="~/lib/underscore.js/underscore-min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/izitoast/js/iziToast.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script type="module" src="~/lib/backhelpers/bundle.js"></script>
    @RenderSection("Scripts", required: false)

    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
