﻿@model BaseViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @Model.PageTitle | @Model.ApplicationName </title>
    <partial name="@PartialPathProvider.ThemeStylePartial" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/flag-icon-css/css/flag-icon.css" rel="stylesheet" />
    <link href="~/lib/izitoast/css/iziToast.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/select2-bootstrap-theme/select2-bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
    <style>
        #custom-color {
            background: rgb(144,139,240);
            background: linear-gradient(117deg, rgba(144,139,240,1) 0%, rgba(107,107,238,1) 18%, rgba(138,46,165,0.7738445720084909) 72%, rgba(0,212,255,1) 100%);
        }
    </style>
</head>
<body class="hold-transition layout-top-nav" data-page-language="@Model.PageLanguage" data-app-default-language="@Model.DefaultLanguage">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
                <a asp-action="Index" asp-controller="Home" class="navbar-brand">
                    <span class="brand-text font-weight-light display-4"><strong>Med. Consult.</strong></span>
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a asp-action="About" asp-controller="Home" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                    <li class="nav-item">
                        <a asp-controller="Consultation" asp-action="PatientConsultations" class="nav-link">My consultations</a>
                    </li>
                </ul>
                <!-- Right navbar links -->
                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item mr-1">
                            <span class="text-sm">Welcome</span> <a asp-action="Index" asp-controller="Home" class=" badge badge-primary"> @User.Identity.Name</a>
                        </li>
                        <li class="nav-item ml-1">
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button style="border: none; margin:0px;" type="submit" class="badge badge-danger">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-area="Identity" asp-page="/Account/Login" class="nav-link btn btn-navbar mr-1">Login</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Identity" asp-page="/Account/Register" class="nav-link btn btn-navbar mr-1">Register</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <div class="content">
                <div class="container">
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-12">
                            @RenderBody()
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <partial name="@PartialPathProvider.FooterPartial" />

    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <partial name="@PartialPathProvider.ThemeScriptPartial" />
    <script src="~/lib/underscore.js/underscore-min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/izitoast/js/iziToast.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script type="module" src="~/lib/backhelpers/bundle.js"></script>
    @RenderSection("Scripts", required: false)

    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
