﻿<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="~/lib/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="~/js/theme/adminlte.min.js"></script>

