﻿<!-- Font Awesome Icons -->
<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
<!-- IonIcons -->
<link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link href="~/css/theme/adminlte.min.css" rel="stylesheet" />
<!-- Google Font: Source Sans Pro -->
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">