﻿@using MedicalConsultation.ControlPanel.ViewModels.Shared
@model TableRawViewModel<MedicalConsultation.Services.Core.Consultation.ConsultationDto>

<tr data-record-id="@Model.RowData.ConsultationId">
    <td class="consultation-subject">
        @Model.RowData.Subject
        @if (Model.RowData.Replies != null && Model.RowData.Replies.Any(x => !x.MarkedAsSeen))
        {
            <span class="badge badge-danger">NEW REPLIES</span>
        }
    </td>
    <td>@Model.RowData.IssuedOn.ToShortDateString()</td>
    <td>@Model.RowData.Content</td>
    <td>@(Model.RowData.Replies?.Count() ?? 0)</td>
    @if (Model.HasPremmissions)
    {
        <td class="d-flex justify-content-center align-items-center">
            <a asp-action="MyConsultationDetails" asp-controller="Consultation" asp-route-id="@Model.RowData.ConsultationId" class="btn btn-sm btn-primary text-white mr-2">
                <i class="fas fa-info"></i>
            </a>
        </td>
    }
</tr>