﻿@using MedicalConsultation.ControlPanel.ViewModels.Shared
@model TableRawViewModel<MedicalConsultation.Services.Core.Consultation.ConsultationDto>

    <tr data-record-id="@Model.RowData.ConsultationId">
        <td class="consultation-subject"> @Model.RowData.Subject </td>
        <td>@Model.RowData.IssuedOn.ToShortDateString()</td>
        <td>@Model.RowData.Content</td>
        <td>@Model.RowData.PatientFullName</td>
        @if (Model.HasPremmissions)
        {
            if ((bool)ViewData["MarkedAsDone"])
            {
                <td class="d-flex justify-content-center align-items-center">
                    <a asp-action="MyConsultationDetails" asp-controller="Consultation" asp-route-id="@Model.RowData.ConsultationId" class="btn btn-sm btn-primary text-white mr-2">
                        <i class="fas fa-info"></i>
                    </a>
                </td>
            }
            else
            {
                <td class="d-flex justify-content-center align-items-center">
                    <a class="btn btn-sm btn-danger text-white add-reply mr-2">
                        <i class="fas fa-reply"></i>
                    </a>
                </td>
            }
        }
    </tr>

