﻿@using MedicalConsultation.ControlPanel.ViewModels.MedicalTopic
@model MedicalTopicFormViewModel

<div class="card card-primary card-outline card-outline-tabs m-0 border-0 shadow-none">
    <div class="card-header p-0 border-bottom-0">
        <ul class="nav nav-tabs" id="medicalTopicPanelTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="primaryLanguageTab" data-toggle="pill" href="#primaryLanguage" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">
                    @FromResx["Enter medical topic data"]
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="medicalTopicPanelTabContent">
            <div class="tab-pane fade show active" id="primaryLanguage" role="tabpanel" aria-labelledby="primaryLanguage">
                <form enctype="multipart/form-data" role="form" id="medicalTopicActionForm" asp-action="Action" asp-controller="MedicalTopic"
                      data-uploaded-file-path="@(Url.Content($"~/images/uploads/{Model.ImageUrl}") ?? "")">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="topicTitle">@FromResx["Topic title"]</label>
                                            <input type="text"
                                                   asp-for="Title"
                                                   val-not-empty-msg="@FromResx["Topic title is required!"]"
                                                   id="topicTitle"
                                                   class="form-control"
                                                   placeholder="@FromResx["Topic title"]">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="issudeDate">@FromResx["Last Name"]</label>
                                            <input type="date"
                                                   asp-for="IssueDate"
                                                   val-not-empty-msg="@FromResx["Issue date is required!"]"
                                                   id="issueDate"
                                                   class="form-control"
                                                   placeholder="@FromResx["Issue date"]">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="publisherAdminName">@FromResx["Publisher admin name"]</label>
                                            <select asp-for="AdminID"
                                                    id="publisherAdminName"
                                                    data-data-provider-url="@Url.Action("GetLoggedInAdmin", "MedicalTopic")"
                                                    data-select2-placeholder="@FromResx["Select a publisher"]"
                                                    asp-items="Model.Admins"
                                                    class="form-control select2"></select>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="topicTitle">@FromResx["Topic description"]</label>
                                            <textarea asp-for="Description"
                                                      id="topicDescription"
                                                      rows="3"
                                                      class="form-control"
                                                      placeholder="@FromResx["Topic description"]"
                                                      val-not-empty-msg="@FromResx["topic description is required"]"></textarea>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input type="file"
                                       id="imageURL"
                                       class="filepond"
                                       asp-for="Image"
                                       />
                                @*<input 
                                       type="file"
                                       data-uploaded-file-path="@(Url.Content($"~/{Model.ImageUrl}") ?? "")"
                                       
                                       class="filepond" />*@
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <button type="submit"
                                            id="savePrimaryLanguageButton"
                                            class="btn btn-success btn-sm waves-effect action-button">
                                        <i class="fas fa-save pr-1"></i>
                                        <span class="action-button-text pr-0"> @FromResx["Save"]</span>
                                        <i class="fas fa-cog fa-spin action-button-loader" style="display:none;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="medicalTopicHiddenID" asp-for="MedicalTopicID" />
                    @Html.AntiForgeryToken()
                </form>
            </div>
        </div>
    </div>
    <!-- /.card -->
</div>
