﻿@model MedicalConsultation.ControlPanel.ViewModels.MedicalTopic.IndexViewModel
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-xl-6">
                <h1 class="m-t-3">@FromResx["Medical Topic Management"]</h1>
            </div>
            <div class="col-xl-6">
                <ol class="breadcrumb float-sm-right text-sm">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@FromResx["Dashboard"]</a></li>
                    <li class="breadcrumb-item active"><a class="text-muted" asp-controller="MedicalTopic" asp-action="Index">@FromResx["Medical topics management page"]</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-12">
                        <div class="card-tools">
                            <a id="createButton" href="#"
                               data-get-url="@Url.Action("GetMedicalTopicForm", "MedicalTopic")"
                               data-toggle="modal" data-target="#actionModal"
                               data-backdrop="static" data-keyboard="false"
                               class="btn btn-sm btn-success">@FromResx["Create new medical topic"]</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="indexDataTable"
                       data-remove-url="@Url.Action("Remove", "MedicalTopic")"
                       data-update-datatable-url="@Url.Action("GetIndexDatatable", "MedicalTopic")"
                       data-confirm-title-msg="@FromResx["Deleting a medical topic!"]"
                       data-confirm-message-msg="@($"{FromResx["Are you sure you want to delete this topic?\n Medical topic title: "].Value} ")"
                       data-confirm-ok-btn-msg="@FromResx["Yes"]"
                       data-confirm-cancel-btn-msg="@FromResx["No, take me back!"]"
                       class="table table-striped table-hover dt-responsive " style="width:100%">

                    <thead>
                        <tr>
                            <th>@FromResx["Title"]</th>
                            <th>@FromResx["Admin name"]</th>
                            <th>@FromResx["Description"]</th>
                            <th>@FromResx["Issue date"]</th>
                            <th>@FromResx["Management tools"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var tr in Model.MedicalTopics)
                        {
                            <partial name="@PartialPathProvider.MedicalTopicTableRow"
                                     model="Model.GetTableRawViewModel(tr)" />
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>
<!-- /.content -->

<partial name="@PartialPathProvider.ActionModalPartial" model="Model.ModalViewModel" />


@section Styles {
    <link href="~/lib/datatables/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/DataTables/Responsive-2.2.3/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/DataTables/FixedColumns-3.3.0/css/fixedColumns.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/DataTables/SearchPanes-1.0.1/css/searchPanes.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/filePond/filepond.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css" rel="stylesheet">
}

@section Scripts {

    <script src="~/lib/datatables/DataTables/datatables.min.js"></script>
    <script src="~/lib/datatables/DataTables/Responsive-2.2.3/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/DataTables/FixedColumns-3.3.0/js/fixedColumns.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/DataTables/SearchPanes-1.0.1/js/searchPanes.bootstrap4.min.js"></script>
    <script src="~/lib/filePond/filepond.min.js"></script>

    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-validate-size/dist/filepond-plugin-image-validate-size.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.js"></script>
    <script type="module" src="~/js/views/medicalTopics/index.js"></script>
}
