﻿@model MedicalTopicDetailsViewModel
@{
    Layout = PartialPathProvider.PatientLayout;
    var random = new Random();
    var color = String.Format("{0:X6}", random.Next(0x1000000));
}


<div class="card card-primary card-outline mt-5">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-edit"></i>
            Medical Topic Details
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-5">
                <h4>@Model.Title </h4>
                <hr />
                <span class="text-muted mb-2 pb-3"> Issued by  <span class="badge badge-info">@Model.AdminFullName</span> <small> at </small> <span class="font-italic">@Model.IssueDate.ToShortDateString()</span> </span>
                <br />
                <p class="text-sm text-muted">viewed <span class="badge badge-pill badge-success ">@Model.NumberOfVisits</span> times</p>
                <p>
                    @Model.Description
                </p>
            </div>
            <div class="col-12 col-md-7">
                @if (!string.IsNullOrEmpty(Model.ImageURL))
                {
                    <img src="@Url.Content($"~/images/uploads/{Model.ImageURL}")" class="card-img-top" />
                }
                else
                {
                    <img src="@($"https://dummyimage.com/600x400/{color}/ffffff&text=+")" class="card-img-top" alt="...">
                }
            </div>
        </div>
    </div>
    <!-- /.card -->
</div>
