﻿@model SidebarComponentViewModel
 <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-controller="Home" asp-action="Index" class="brand-link text-center">
        <span class="brand-text font-weight-light">@FromResx["Control Panel"]</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3  text-center">
            <div class="info">
                <a href="#" class="d-block">
                    @Model.FullName (@Model.Username)
                    <br />
                    <span class="text-primary">@FromResx[Model.Role]</span>
                </a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="MedicalTopic" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@FromResx["Medical Topics Mang."]</p>
                    </a>
                </li>
                <li class="nav-item has-treeview ">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            @FromResx["Consultations Mang."]
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview ml-3">
                        <li class="nav-item bg-fuchsia rounded-sm">
                            <a asp-action="Index" asp-controller="Consultation" class="nav-link">
                                <i class="far fa-envelope nav-icon"></i>
                                <p>@FromResx["Waiting for answer"]</p>
                            </a>
                        </li>
                        <li class="nav-item bg-fuchsia rounded-sm">
                            <a asp-action="Index" asp-controller="Consultation" asp-route-markedAsDone="true" class="nav-link">
                                <i class="far fa-envelope-open nav-icon"></i>
                                <p>@FromResx["Already replied to"]</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Account" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@FromResx["Accounts Mang."]</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="MedicalExpertSys" asp-controller="Home" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            @FromResx["Med. Expert Sys."]
                            <span class="right badge badge-danger">ADM</span>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
