﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="text-white mb-5">
    <h1 class="display-1">@ViewData["Title"] :(</h1>
    <p class="text-center">You do not have access to this resource.</p>
    <div class="container-fluid text-center">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button class="btn btn-outline-primary text-white" type="submit">Logout</button>
            <span class="font-italic mr-2 ml-2"> or </span>
            <a class="btn btn-outline-warning" asp-area="" asp-action="Index" asp-controller="Home">Go to website</a>
        </form>
    </div>
</header>
