﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login-box">
    <div class="login-logo text-white">
        <b>MED.</b> CONSULT.
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">
                <strong> Welcome to Medical Consultation :) </strong><br />
                Sign In to continue!
            </p>
            <form id="account" method="post">
                <div class="input-group">
                    <input asp-for="Input.Username" class="form-control" placeholder="Username" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Input.Username" class="text-danger text-sm"></span>
                </div>
                <div class="input-group">
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Input.Password" class="text-danger text-sm"></span>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input asp-for="Input.RememberMe" />
                            <label asp-for="Input.RememberMe">
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <p class="mb-1">
                <a asp-page="./Register" class="text-center" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

