﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="register-box">
    <div class="login-logo text-white">
        <b>MED.</b> CONSULT.
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">
                <strong> Welcome to Medical Consultation :) </strong><br />
                Register to enjoy the service!
            </p>
            <form id="registerActionForm" asp-route-returnUrl="@Model.ReturnUrl" method="post"
                  data-check-username-url="@Url.Action("VerifyUsernameCorrectness","Account")"
                  data-old-username-val="@(Model?.Input?.Username != null?Model?.Input?.Username:"")"
                  data-check-password-url="@Url.Action("VerifyPasswordCorrectness","Account")"
                  data-check-email-url="@Url.Action("VerifyEmailCorrectness","Account")">
                <div class="form-group">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <input id="firstName" val-not-empty-msg="First name is required!" asp-for="Input.FirstName" class="form-control" placeholder="First name" />
                            <div class="invalid-feedback"></div>
                            <span asp-validation-for="Input.FirstName" class="text-danger text-sm"></span>
                        </div>
                        <div class="col-md-6">
                            <input id="lastName" val-not-empty-msg="Last name is required!" asp-for="Input.LastName" class="form-control" placeholder="Last name" />
                            <div class="invalid-feedback"></div>
                            <span asp-validation-for="Input.LastName" class="text-danger text-sm"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <input id="username" val-not-empty-msg="Username is required!" asp-for="Input.Username" class="form-control" placeholder="Username" />
                            <div class="invalid-feedback"></div>
                            <span asp-validation-for="Input.Username" class="text-danger text-sm"></span>

                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <input id="email" val-not-empty-msg="Email is required!" asp-for="Input.Email" class="form-control" placeholder="Email" />
                            <div class="invalid-feedback"></div>
                            <span asp-validation-for="Input.Email" class="text-danger text-sm"></span>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <input id="phoneNumber" val-not-empty-msg="Phone number is required!" asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone number" />
                            <div class="invalid-feedback"></div>
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger text-sm"></span>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <input id="password" val-not-empty-msg="Password is required!" asp-for="Input.Password" class="form-control" placeholder="Password" />
                            <div class="invalid-feedback"></div>
                            <span asp-validation-for="Input.Password" class="text-danger text-sm"></span>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm password" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger text-sm"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">

                            <div class="form-inline mb-3">
                                <div class="form-check  mr-2">
                                    <input class="form-check-input" type="radio" value="Male" id="male" asp-for="Input.Sex">
                                    <label for="male" class="form-check-label">Male</label>
                                </div>
                                <div class="form-check  mr-2">
                                    <input class="form-check-input" type="radio" value="Female" id="female" asp-for="Input.Sex">
                                    <label for="female" class="form-check-label">Female</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-3">
                    <recaptcha />
                </div>
                <button id="registerButton" type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>



@section Scripts {
    <script type="module" src="~/js/areas/register.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <recaptcha-script />
}
