﻿@using MedicalConsultation.ControlPanel.ViewModels.Consultation;
@model ConsultationFormViewModel

<div class="card card-primary card-outline card-outline-tabs m-0 border-0 shadow-none">
    <div class="card-header p-0 border-bottom-0">
        <ul class="nav nav-tabs" id="consultationPanelTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="primaryLanguageTab" data-toggle="pill" href="#primaryLanguage" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">
                    @FromResx["Consultation"]
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="accountPanelTabContent">
            <div class="tab-pane fade show active" id="primaryLanguage" role="tabpanel" aria-labelledby="primaryLanguage">
                <form role="form" id="consultationActionForm" asp-action="ConsultAction" asp-controller="Consultation">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="subject">@FromResx["Subject"]</label>
                                    <input type="text"
                                           asp-for="Subject"
                                           val-not-empty-msg="@FromResx["Subject is required!"]"
                                           id="subject"
                                           class="form-control"
                                           placeholder="@FromResx["What is this about"]">
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="col-md-6">
                                    <label for="issuedOn">@FromResx["Issued on"]</label>
                                    <input type="date"
                                           asp-for="IssuedOn"
                                           val-not-empty-msg="@FromResx["Issued on is required!"]"
                                           id="issuedOn"
                                           class="form-control"
                                           placeholder="@FromResx["Issued On"]">
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="historicalInformation">@FromResx["Historical Health Information"]</label>
                                    <textarea asp-for="HistoricalInformation"
                                              id="historicalInformation"
                                              rows="6"
                                              class="form-control"
                                              placeholder="@FromResx["Do you have any related health problem?"]"
                                              val-not-empty-msg="@FromResx["Historical Health Information is required"]"></textarea>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="content">@FromResx["Consultation content"]</label>
                                    <textarea asp-for="Content"
                                              id="content"
                                              rows="6"
                                              class="form-control"
                                              placeholder="@FromResx["Give us more details ..."]"
                                              val-not-empty-msg="@FromResx["Consultation content is required"]"></textarea>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <button type="submit"
                                            id="savePrimaryLanguageButton"
                                            class="btn btn-success btn-sm waves-effect action-button">
                                        <i class="fas fa-save pr-1"></i>
                                        <span class="action-button-text pr-0"> @FromResx["Save"]</span>
                                        <i class="fas fa-cog fa-spin action-button-loader" style="display:none;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="patientHiddenID" asp-for="PatientId" />
                    <input type="hidden" id="consultationHiddenID" asp-for="ConsultationId" />
                    <input type="hidden" id="markedAsDone" asp-for="MarkedAsDone" />
                    @Html.AntiForgeryToken()
                </form>
            </div>
        </div>
    </div>
    <!-- /.card -->
</div>
