﻿.overlay {
    background: rgba(104, 104, 104, 0.3) !important;
}

.d-flex {
    border: 0px;
}

.datatable-custom-overlay-container {
    position: relative;
}

.datatable-custom-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(104, 104, 104, 0.3);
    text-align: center;
}

    .datatable-custom-overlay .fa-spin {
        opacity: 1 !important;
    }

.select2-container--bootstrap .select2-selection--single {
    height: 38px !important;
}

    .select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
        color: #777 !important;
        font-size: 1rem !important;
    }

select.select2.is-invalid + .select2 .select2-selection {
    border-color: #dc3545 !important;
}

select.select2.is-valid + .select2 .select2-selection {
    border-color: #28a745 !important;
}

*:focus {
    outline: 0px;
}
