﻿@using MedicalConsultation.ControlPanel.ViewModels.Shared
@using MedicalConsultation.Services.Core.Topic
@model TableRawViewModel<MedicalTopicDto>

<tr data-record-id="@Model.RowData.MedicalTopicID">
    <td class="medical-topic-title">@Model.RowData.Title</td>
    <td>@Model.RowData.AdminFullName</td>
    <td>@Model.RowData.Description</td>
    <td>@Model.RowData.IssueDate.ToShortDateString()</td>
    @if (Model.HasPremmissions)
    {
        <td class="d-flex justify-content-center align-items-center">
            @if (Model.HasPremmissionToDelete)
            {
                <a class="btn btn-sm btn-danger text-white remove-record mr-2">
                    <i class="fas fa-trash"></i>
                </a>
            }
            @if (Model.HasPremmissionToEdit)
            {
                <a class="btn btn-sm btn-info text-white edit-record mr-2">
                    <i class="fas fa-edit"></i>
                </a>
            }
        </td>
    }
</tr>