﻿@model MedicalConsultation.ControlPanel.ViewModels.Consultation.IndexViewModel
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-xl-6">
                <h1 class="m-t-3">
                    @FromResx["Consultation Management"]
                </h1> <span class="badge badge-info">@ViewData["ConsultationStatus"] </span>
            </div>
            <div class="col-xl-6">
                <ol class="breadcrumb float-sm-right text-sm">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">@FromResx["Dashboard"]</a></li>
                    <li class="breadcrumb-item active"><a class="text-muted" asp-controller="Consultation" asp-action="Index">@FromResx["Consultation management page"]</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="indexDataTable"
                       data-get-url="@Url.Action("GetConsultReplyForm", "Consultation")"
                       data-remove-url="@Url.Action("Remove", "Consultation")"
                       data-update-datatable-url="@Url.Action("GetConsultReplyIndexDatatable", "Consultation", new { markedAsDone = ViewData["MarkedAsDone"]})"
                       data-confirm-title-msg="@FromResx["Deleting a consultation!"]"
                       data-confirm-message-msg="@($"{FromResx["Are you sure you want to delete this consultation?\n Consultation subject: "].Value} ")"
                       data-confirm-ok-btn-msg="@FromResx["Yes"]"
                       data-confirm-cancel-btn-msg="@FromResx["No, take me back!"]"
                       class="table table-striped table-hover dt-responsive " style="width:100%">
                    <thead>
                        <tr>
                            <th>@FromResx["Subject"]</th>
                            <th>@FromResx["Issued Date"]</th>
                            <th>@FromResx["Content"]</th>
                            <th>@FromResx["Issued by"]</th>
                            <th>@FromResx["Management tools"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var tr in Model.Consultations)
                        {
                            <partial name="@PartialPathProvider.ConsultationTableRow"
                                     model="Model.GetTableRawViewModel(tr)" />
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>
<!-- /.content -->

<partial name="@PartialPathProvider.ActionModalPartial" model="Model.ModalViewModel" />


@section Styles {
    <link href="~/lib/datatables/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/DataTables/Responsive-2.2.3/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/DataTables/FixedColumns-3.3.0/css/fixedColumns.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/DataTables/SearchPanes-1.0.1/css/searchPanes.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts {

    <script src="~/lib/datatables/DataTables/datatables.min.js"></script>
    <script src="~/lib/datatables/DataTables/Responsive-2.2.3/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/DataTables/FixedColumns-3.3.0/js/fixedColumns.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/DataTables/SearchPanes-1.0.1/js/searchPanes.bootstrap4.min.js"></script>
    <script type="module" src="~/js/views/consultation/index.js"></script>
}
