﻿@{

    Layout = Model.IsAdmin ? PartialPathProvider.AdminLayout : PartialPathProvider.PatientLayout;

}

@model MedicalConsultation.ControlPanel.ViewModels.Consultation.MyConsultationDetailsViewModel


<div class="card card-primary card-outline @(Model.IsAdmin? "ml-4 mr-4" : "mt-5")">
    <div class="card-header">
        <h1>
            Consultation Details
        </h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col">
                        <h4>@Model.Subject </h4>
                    </div>
                    <div class="col text-right">
                        <span class="text-muted mb-2 pb-3"> Issued by <span class="badge badge-primary">you</span> at <span class="font-italic"> @Model.IssuedOn.ToShortDateString()</span></span>

                    </div>
                </div>
                <hr />
                <h6>Question:</h6>
                <br />
                <p>
                    @Model.Content
                </p>
            </div>
        </div>
        <hr />

        @if (Model.Replies != null && Model.Replies.Count() > 0)
        {
            <div class="row">
                @foreach (var reply in Model.Replies)
                {
                    <div class="col-md-12">
                        <div class="card card-primary card-outline mt-5">
                            <div class="card-header">
                                <h3 class="card-title">
                                    Reply by <span class="badge badge-primary">@reply.AdminFullName</span> at <span class="font-italic">@reply.IssueDate.ToShortDateString()</span>
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>@reply.Subject </h4>
                                        <hr />
                                        <br />
                                        <p>
                                            @reply.Content
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                }
            </div>

        }
        else
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="font-italic"> No replies by a doctor yet!</p>

                </div>
            </div>
        }
    </div>
    <!-- /.card -->
</div>
