﻿@model MedicalConsultation.ControlPanel.ViewModels.Consultation.IndexViewModel

@{
    Layout = PartialPathProvider.PatientLayout;
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-xl-6">
                <h1 class="m-t-3">
                    @FromResx["My Consultations"]
                </h1>
            </div>
        </div>
    </div>
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-12">
                        <div class="card-tools">
                            <a id="createButton" href="#"
                               data-get-url="@Url.Action("GetConsultForm", "Consultation")"
                               data-toggle="modal" data-target="#actionModal"
                               data-backdrop="static" data-keyboard="false"
                               class="btn btn-sm btn-success">@FromResx["Consult a doctor"]</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="indexDataTable"
                       data-remove-url="@Url.Action("Remove", "Consultation")"
                       data-update-datatable-url="@Url.Action("GetIndexDatatable", "Consultation")"
                       data-confirm-title-msg="@FromResx["Deleting a consultation!"]"
                       data-confirm-message-msg="@($"{FromResx["Are you sure you want to delete this consultation?\n Consultation subject: "].Value} ")"
                       data-confirm-ok-btn-msg="@FromResx["Yes"]"
                       data-confirm-cancel-btn-msg="@FromResx["No, take me back!"]"
                       class="table table-striped table-hover dt-responsive " style="width:100%">
                    <thead>
                        <tr>
                            <th>@FromResx["Subject"]</th>
                            <th>@FromResx["Issued Date"]</th>
                            <th>@FromResx["Content"]</th>
                            <th>@FromResx["# of replies"]</th>
                            <th>@FromResx["Manag."]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var tr in Model.Consultations)
                        {
                            <partial name="@PartialPathProvider.PatientConsultTableRow"
                                     model="Model.GetTableRawViewModel(tr)" />
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>
<!-- /.content -->

<partial name="@PartialPathProvider.ActionModalPartial" model="Model.ModalViewModel" />


@section Styles {
    <link href="~/lib/datatables/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/DataTables/Responsive-2.2.3/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/DataTables/FixedColumns-3.3.0/css/fixedColumns.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/DataTables/SearchPanes-1.0.1/css/searchPanes.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts {

    <script src="~/lib/datatables/DataTables/datatables.min.js"></script>
    <script src="~/lib/datatables/DataTables/Responsive-2.2.3/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/DataTables/FixedColumns-3.3.0/js/fixedColumns.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/DataTables/SearchPanes-1.0.1/js/searchPanes.bootstrap4.min.js"></script>
    <script type="module" src="~/js/views/consultation/patientIndex.js"></script>
}
