﻿@model AboutViewModel

@{
    if (Model.IsAdmin)
    {
        Layout = PartialPathProvider.AdminLayout;
    }
    else
    {
        Layout = PartialPathProvider.PatientLayout;
    }
}
<div class="container-lg pt-3 pb-3">
    <header>
        <h1 class="text-dark display-2">@Model.PageTitle</h1>
        <p>
            @FromResx["Developed by"] <a href="mailto:wael_134002@svuonline.org">@FromResx["Wael Alshabani"]</a> and <a href="mailto:mhd_ali_133905@svuonline.org">@FromResx["Mhd Ali Faour"]</a> as AWP homework.
        </p>
        <br />
        <hr />
        <h3>Technical Information:</h3>
        <p>
            Developed using ASP.NET Core 3.1 and Entity Framework core. <br />
            IDE used is Visual Studio 2019 16.6.0 <br />
            Sql Server Management version 2019
        </p>
        <div class="text-center"><br /> Master of Web science program <br /> @@ Syrian Virtual Universty</div>
    </header>
</div>

