﻿@using MedicalConsultation.ControlPanel.ViewModels.Account;
@model MyAccountFormViewModel

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline card-outline-tabs m-0 border-0 shadow-none">
            <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="medicalTopicPanelTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="primaryLanguageTab" data-toggle="pill" href="#primaryLanguage" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">
                            @FromResx["Account data"]
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="accountPanelTabContent">
                    <div class="tab-pane fade show active" id="primaryLanguage" role="tabpanel" aria-labelledby="primaryLanguage">
                        <form role="form" id="accountActionForm" asp-action="Action" asp-controller="Account"
                              data-check-username-url="@Url.Action("VerifyUsernameCorrectness","Account")"
                              data-old-username-val="@(Model.Username != null?Model.Username:"")"
                              data-check-password-url="@Url.Action("VerifyPasswordCorrectness","Account")"
                              data-check-email-url="@Url.Action("VerifyEmailCorrectness","Account")">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="firstName">@FromResx["First name"]</label>
                                                    <input type="text"
                                                           disabled="disabled"
                                                           asp-for="FirstName"
                                                           val-not-empty-msg="@FromResx["First name is required!"]"
                                                           id="firstName"
                                                           class="form-control"
                                                           placeholder="@FromResx["First name"]">
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="lastName">@FromResx["Last name"]</label>
                                                    <input type="text"
                                                           disabled="disabled"
                                                           asp-for="LastName"
                                                           val-not-empty-msg="@FromResx["Last name is required!"]"
                                                           id="lastName"
                                                           class="form-control"
                                                           placeholder="@FromResx["Last name"]">
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="username">@FromResx["User name"]</label>
                                                    <input type="text"
                                                           disabled="disabled"
                                                           asp-for="Username"
                                                           val-not-empty-msg="@FromResx["User name is required!"]"
                                                           id="username"
                                                           class="form-control"
                                                           placeholder="@FromResx["User name"]">
                                                    <div class="invalid-feedback"></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="phoneNumber">@FromResx["Phone number"]</label>
                                            <input type="text"
                                                   disabled="disabled"
                                                   asp-for="PhoneNumber"
                                                   val-not-empty-msg="@FromResx["Phone number is required!"]"
                                                   id="phoneNumber"
                                                   class="form-control"
                                                   placeholder="@FromResx["Phone number"]">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="email">@FromResx["Email"]</label>
                                            <input type="email"
                                                   asp-for="Email"
                                                   disabled="disabled"
                                                   val-not-empty-msg="@FromResx["Email is required!"]"
                                                   id="email"
                                                   class="form-control"
                                                   placeholder="@FromResx["Email"]">
                                            <div class="invalid-feedback"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="accountHiddenID" asp-for="UserID" />
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>

    </div>
</div>



@section Styles {
    <link href="~/lib/datatables/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/DataTables/Responsive-2.2.3/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/DataTables/FixedColumns-3.3.0/css/fixedColumns.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/DataTables/SearchPanes-1.0.1/css/searchPanes.bootstrap4.min.css" rel="stylesheet" />
}

@section Scripts {

    <script src="~/lib/datatables/DataTables/datatables.min.js"></script>
    <script src="~/lib/datatables/DataTables/Responsive-2.2.3/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/DataTables/FixedColumns-3.3.0/js/fixedColumns.bootstrap4.min.js"></script>
    <script src="~/lib/datatables/DataTables/SearchPanes-1.0.1/js/searchPanes.bootstrap4.min.js"></script>
    <script type="module" src="~/js/views/account/index.js"></script>
}
