﻿@model IndexViewModel

@{ 
    if (Model.IsAdmin)
    {
        Layout = PartialPathProvider.AdminLayout;
    }
    else
    {
        Layout = PartialPathProvider.PatientLayout;
    }
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-t-3 display-1">@FromResx["Welcome to Medical Consultation Control Panel"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">@FromResx["Dashboard"]</a></li>
                    <li class="breadcrumb-item active">@FromResx["Statistics page"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title display-4">@FromResx["Accounts"]</h5>

                        <p class="card-text">
                            @($"{@FromResx["You have"].Value} {(Model.HasAccounts ? $"{Model.AccountCount}" : FromResx["no"].Value)} {FromResx["account at the moment."].Value}")
                        </p>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Index" asp-controller="Account" class="card-link btn btn-sm btn-outline-primary">@FromResx["Manage"]</a>
                    </div>
                </div>
            </div>           
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title display-4">@FromResx["Medical Topics"]</h5>

                        <p class="card-text">
                            @($"{@FromResx["You have"].Value} {(Model.HasMedicalTopics ? $"{Model.TopicCount}" : FromResx["no"].Value)} {FromResx["topic at the moment."].Value}")
                        </p>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Index" asp-controller="MedicalTopic" class="card-link btn btn-sm btn-outline-primary">@FromResx["Manage"]</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title display-4">@FromResx["Consultation"]</h5>

                        <p class="card-text">
                            @($"{@FromResx["You have"].Value} {(Model.HasConsultants ? $"{Model.ConsultantCount}" : FromResx["no"].Value)} {FromResx["consultation waiting for your reply!"].Value}")
                        </p>

                    </div>
                    <div class="card-footer">
                        <a asp-action="Index" asp-controller="Consultation" class="card-link btn btn-sm btn-outline-primary">@FromResx["Manage"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content -->