﻿<div class="container pt-4">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to Medical Expert System</h1>
            <p>This page is for ADM homework only!</p>
        </div>
    </div>
</div>