﻿@model BaseViewModel
@{
    Layout = PartialPathProvider.LoginLayout;
    ViewData["Title"] = "Page does not exist";
}

<div class="container-lg pt-3 pb-3">
    <header>
        <h1 class="text-white display-2">@ViewData["Title"]</h1>
        <p class="text-white">You seems lost.</p>
    </header>
    <section>
        <a asp-action="Index" asp-controller="Home" class="btn btn-block btn-outline-info">Take me HOME</a>
    </section>
</div>
