﻿@{
    Layout = PartialPathProvider.PatientLayout;
}
@model PatientIndexViewModel
@if (Model.HasReplyNotSeen)
{
    <div class="row pt-4">
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-info"></i> NEW REPLIES!</h5>
                You have new replies, go to your  <a asp-action="PatientConsultations" asp-controller="Consultation" class="badge badge-primary text-decoration-none">consultations panel</a> to see them.
            </div>
        </div>
    </div>
}
<div class="row @(Model.HasReplyNotSeen ? "pt-0" : "pt-4")">
    <div class="col-md-12">
        <div class="card text-white" id="custom-color">
            <div class="card-body">
                <p class="card-text">
                    <h2 class="text-white"> <small>Welcome to</small> Medical Consultation <small>service!</small></h2>
                    You can ask a docter about anything you want. Don't hesitate.
                </p>
                <a asp-action="PatientConsultations" asp-controller="Consultation" class="btn btn-dark">Go to your consultations panel</a>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    @foreach (var topic in Model.MedicalTopics)
    {
        var random = new Random();
        var color = String.Format("{0:X6}", random.Next(0x1000000));
        <div class="col mb-4">
            <div class="card h-100">
                @if (!string.IsNullOrEmpty(topic.ImageURL))
                {
                    <img src="@Url.Content($"~/images/uploads/{topic.ImageURL}")" class="card-img-top" />
                }
                else
                {
                    <img src="@($"https://dummyimage.com/600x400/{color}/ffffff&text=+")" class="card-img-top" alt="...">
                }
                <div class="card-body pb-0">
                    <h1 class="card-title mb-0"><strong>@topic.Title</strong></h1>
                    <p class="card-text font-italic text-muted">
                        <hr />
                        @string.Join(" ", topic.Description.Split(" ").ToArray().Take(30)) ...
                    </p>
                    <a class="text-sm btn btn-sm btn-outline-info" asp-action="MedicalTopicDetails" asp-controller="MedicalTopic" asp-route-id="@topic.MedicalTopicID">Read more</a>
                </div>
                <div class="card-footer mt-0">
                    <div class="row">
                        <div class="col-md-9">
                            <small class="text-muted"><strong>@topic.IssueDate.ToShortDateString()</strong> by <span class="badge badge-primary">@topic.AdminFullName</span></small>
                        </div>
                        <div class="text-right col-md-3">
                            @if (topic.NumberOfVisits > 0)
                            {
                                <small class="text-muted"><strong>views <span class="badge badge-pill badge-success">@topic.NumberOfVisits</span></strong></small>
                            }
                            else
                            {
                                <small class="text-muted"><strong>no views</strong></small>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>