﻿@using MedicalConsultation.ControlPanel.ViewModels.Account;
@model AccountFormViewModel

<div class="card card-primary card-outline card-outline-tabs m-0 border-0 shadow-none">
    <div class="card-header p-0 border-bottom-0">
        <ul class="nav nav-tabs" id="medicalTopicPanelTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="primaryLanguageTab" data-toggle="pill" href="#primaryLanguage" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">
                    @FromResx["Account data"]
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="accountPanelTabContent">
            <div class="tab-pane fade show active" id="primaryLanguage" role="tabpanel" aria-labelledby="primaryLanguage">
                <form role="form" id="accountActionForm" asp-action="Action" asp-controller="Account"
                       data-check-username-url="@Url.Action("VerifyUsernameCorrectness","Account")"
                        data-old-username-val="@(Model.Username != null?Model.Username:"")"
                        data-check-password-url="@Url.Action("VerifyPasswordCorrectness","Account")"
                        data-check-email-url="@Url.Action("VerifyEmailCorrectness","Account")">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="firstName">@FromResx["First name"]</label>
                                            <input type="text"
                                                   asp-for="FirstName"
                                                   val-not-empty-msg="@FromResx["First name is required!"]"
                                                   id="firstName"
                                                   class="form-control"
                                                   placeholder="@FromResx["First name"]">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="lastName">@FromResx["Last name"]</label>
                                            <input type="text"
                                                   asp-for="LastName"
                                                   val-not-empty-msg="@FromResx["Last name is required!"]"
                                                   id="lastName"
                                                   class="form-control"
                                                   placeholder="@FromResx["Last name"]">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="accountRole">@FromResx["Role name"]</label>
                                    <select asp-for="Role"
                                            id="accountRole"
                                            data-data-provider-url="@Url.Action("GetAccountRoles", "Account")"
                                            data-select2-placeholder="@FromResx["Select a role"]"
                                            asp-items="Model.Roles"
                                            class="form-control select2"></select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="username">@FromResx["User name"]</label>
                                    <input type="text"
                                           asp-for="Username"
                                           val-not-empty-msg="@FromResx["User name is required!"]"
                                           id="username"
                                           class="form-control"
                                           placeholder="@FromResx["User name"]">
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="col-md-6">
                                    <label for="password">@FromResx["Password"]</label>
                                    <input type="password"
                                           asp-for="Password"
                                           val-not-empty-msg="@FromResx["Password is required!"]"
                                           id="password"
                                           class="form-control"
                                           placeholder="@FromResx["Password"]">
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="issudeDate">@FromResx["Birth date"]</label>
                                    <input type="date"
                                           asp-for="BirthDate"
                                           val-not-empty-msg="@FromResx["Birth date is required!"]"
                                           id="birthDate"
                                           class="form-control"
                                           placeholder="@FromResx["Birth date"]">
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="col-md-3">
                                    <label for="phoneNumber">@FromResx["Phone number"]</label>
                                    <input type="text"
                                           asp-for="PhoneNumber"
                                           val-not-empty-msg="@FromResx["Phone number is required!"]"
                                           id="phoneNumber"
                                           class="form-control"
                                           placeholder="@FromResx["Phone number"]">
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="col-md-3">
                                    <label for="email">@FromResx["Email"]</label>
                                    <input type="email"
                                           asp-for="Email"
                                           val-not-empty-msg="@FromResx["Email is required!"]"
                                           id="email"
                                           class="form-control"
                                           placeholder="@FromResx["Email"]">
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="col-md-3">
                                    <label for="sex">@FromResx["Sex"]</label>
                                    <div class="form-check  mr-2">
                                        <input class="form-check-input" type="radio" value="Male" id="male" asp-for="Sex">
                                        <label for="male" class="form-check-label">Male</label>
                                    </div>
                                    <div class="form-check  mr-2">
                                        <input class="form-check-input" type="radio" value="Female" id="female" asp-for="Sex">
                                        <label for="female" class="form-check-label">Female</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <button type="submit"
                                            id="savePrimaryLanguageButton"
                                            class="btn btn-success btn-sm waves-effect action-button">
                                        <i class="fas fa-save pr-1"></i>
                                        <span class="action-button-text pr-0"> @FromResx["Save"]</span>
                                        <i class="fas fa-cog fa-spin action-button-loader" style="display:none;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="accountHiddenID" asp-for="UserID" />
                    @Html.AntiForgeryToken()
                </form>
            </div>
        </div>
    </div>
    <!-- /.card -->
</div>
